<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/music"></ion-back-button>
    </ion-buttons>
    <ion-title>Songs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div style="padding-top: 8px;">
  <ion-virtual-scroll [items]="listCardsAdventure" approxItemHeight="100px">
    <ion-item *virtualItem="let item; let itemBounds = bounds;">
      <ion-avatar slot="start">
        <img src="./avatar-leia.png">
      </ion-avatar>
      <ion-label>
        <h3 style="display: inline-block;">You're My Only Hope</h3>
        <ion-icon class="dl" (click)="onDownload(item)" name="download"></ion-icon>
        <p>I've placed information vital to the survival...</p>
      </ion-label>
    </ion-item>

  </ion-virtual-scroll>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
</ion-content>
