<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item routerLink="/tabs/feedback" routerDirection="forward">
    <ion-label>
      Feedback
    </ion-label>
    <ion-icon slot="end" name="arrow-dropright"></ion-icon>
  </ion-item>
  <ion-item routerLink="/tabs/about" routerDirection="forward">
    <ion-label>
      About
    </ion-label>
    <ion-icon slot="end" name="arrow-dropright"></ion-icon>
  </ion-item>
</ion-content>
