<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mgt8 ion-text-center">
    <img class="profileImage" src="../../assets/icon.png" alt="app logo">
  </div>
  <form [formGroup]="frm" (ngSubmit)="submit()">
    <ion-list inset="true" lines="full">
      <ion-item style="--border-width: 0 0 1px 0">
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Phone</ion-label>
        <ion-input formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Confirm</ion-label>
        <ion-input formControlName="confirm" type="password"></ion-input>
      </ion-item>
      
      <ion-item class="ion-float-right">
        <ion-button type="submit" [disabled]="!frm.valid">Signup
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
  <div class="ion-text-center">
    <a routerLink="/tabs/login" routerDirection="forward">Login</a>
  </div>
</ion-content>