<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/setup" routerDirection="forward">
        <ion-icon name="construct"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="mgt8 ion-text-center" (click)="selectImage()">
    <img [src]="croppedImagepath" class="profileImage" alt="user logo" *ngIf="isProfilePhotoExist">
    <img class="profileImage" *ngIf="!isProfilePhotoExist" src="../../assets/user.png" alt="user logo">
  </div>
  <p *ngIf="isLoading">Loading ...</p> -->

  <div class="ion-text-center" *ngIf="!isEditing">
    <ion-text color="primary">
      <h4> R - {{ userInfo?.id }}</h4>
      <h4>{{ userInfo?.username }}</h4>
      <h4>{{ userInfo?.name }}</h4>
      <h4>{{ userInfo?.phone }}</h4>
      <h4>{{ userInfo?.email }}</h4>
      <h4>{{ userInfo?.note }}</h4>
      <h4>{{ userInfo?.dob | date }}</h4>
    </ion-text>
  </div>
</ion-content>
