<ion-header>
  <ion-toolbar color="primary">
    <ion-title>PlayMySong</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text class="titleColor">
    <h4 style="margin-top: 0px;">Top Albums</h4>
  </ion-text>
  
  <div class="thumnails">
    <div class="list-thumbnail">
      <div class="img-thumb" *ngFor="let item of listCardsAdventure">
        <div class="card" (click)="downloadImage()">
          <ion-img [src]="imageUrl"></ion-img>
          <h4>{{ item.title }}</h4>
        </div>
      </div>
    </div>
  </div>

  <ion-text class="titleColor">
    <h4>Popular</h4>
  </ion-text>

  <ion-virtual-scroll [items]="items" approxItemHeight="100px">
    <ion-item *virtualItem="let item; let itemBounds = bounds;">
      <ion-avatar slot="start">
        <img src="../../assets/disc_black.png">
      </ion-avatar>
      <ion-label>
        <h3 style="display: inline-block;">You're My Only Hope</h3>
        <ion-icon (click)="onDownload(item)" class="dl titleColor" name="download" *ngIf="!item.isOnDownloading"></ion-icon>
        <ion-spinner name="dots" class="dl" *ngIf="item.isOnDownloading"></ion-spinner>
        <div class="detail">
          <span class="artist">Maroon 5</span><span class="count">20</span>
        </div>
      </ion-label>
    </ion-item>

  </ion-virtual-scroll>

</ion-content>
