<ion-header>
  <ion-toolbar>
    <ion-title>Play My Song</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h3>Top Albums</h3>
  <div class="thumnails">
    <div class="list-thumbnail">
      <div class="img-thumb" *ngFor="let item of listCardsAdventure">
        <div class="card">
          <ion-img [src]="item.imageUrl"></ion-img>
          <h4>{{ item.title }}</h4>
        </div>
      </div>
    </div>
  </div>

  <h3>Popular</h3>

  <ion-virtual-scroll [items]="items" approxItemHeight="100px">
    <ion-item *virtualItem="let item; let itemBounds = bounds;">
      <ion-avatar slot="start">
        <img src="./avatar-leia.png">
      </ion-avatar>
      <ion-label>
        <h3>You're My Only Hope</h3>
        <p>I've placed information vital to the survival...</p>
      </ion-label>
    </ion-item>

  </ion-virtual-scroll>

</ion-content>
