<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Music</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onOpenSongList()">
        <ion-icon name="list"></ion-icon>
      </ion-button>
      <!-- TODO: will be include in v2
        <ion-button routerLink="/tabs/playlist" routerDirection="forward">
        <ion-icon name="more"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <div scroll-y="false" class="mgt8 maincolor ion-text-center">
        <h5>{{ activeTrack.album }}</h5>
        <img class="profileImage" src="../../assets/musiclogo.png" alt="album logo">
        <h3>{{ activeTrack.title }}</h3>
        <span>{{ activeTrack.artist }}</span>
      </div>
  </ion-slide>
    <ion-slide>
      <div class="ion-text-center maincolor ion-padding">
        <!-- {{ activeTrack.lyrics !== null ? activeTrack.lyrics : 'lyrics not available' }} -->
        <span *ngIf="!activeTrack.lyrics">lyrics not available</span>
        <div *ngIf="activeTrack.lyrics">
          <h3 class="mgt0" >{{ activeTrack.title }}</h3>
          <span [innerHTML]="activeTrack.lyrics"></span>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar class="maincolor" >
   
    <ion-row>
      <ion-col size="12">
        <ion-icon class="shuffelleft" (click)="onSwap()" name="swap" *ngIf="isRound"></ion-icon>
        <ion-icon class="shuffelleft" (click)="onSwap()" name="sync" *ngIf="isOne"></ion-icon>
        <ion-icon class="shuffelleft" (click)="onSwap()" name="shuffle" *ngIf="isShuffel"></ion-icon>
        <ion-icon class="heartright" (click)="onLike()" name="heart-empty" *ngIf="!isLike"></ion-icon>
        <ion-icon class="heartright" (click)="onLike()" name="heart" *ngIf="isLike"></ion-icon>
      </ion-col>
      <ion-col size="12">
        <ion-range #range [(ngModel)]="progress" max="100" color="primary" (touchend)="seek()" (mouseup)="seek()"></ion-range>
        <div class="timer" (click)="startPlay()"><ion-label>{{ timer }}</ion-label><ion-label style="float: right;">{{ songLength }}</ion-label></div>
      </ion-col>
  
      <ion-col size="12" class="ion-text-center">
       
        <ion-button shape="round" size="large" class="nextbtn" fill="outline" (click)="prev()">
          <ion-icon name="skip-backward"></ion-icon>
        </ion-button>
        <ion-button shape="round" size="large" class="playbtn" fill="outline" (click)="togglePlay(false)" *ngIf="!isPlaying">
          <ion-icon name="play"></ion-icon>
        </ion-button>
        <ion-button shape="round" class="playbtn" fill="outline" (click)="togglePlay(true)" *ngIf="isPlaying">
          <ion-icon name="pause"></ion-icon>
        </ion-button>
        <ion-button shape="round" size="large" class="nextbtn" fill="outline" (click)="next()">
          <ion-icon name="skip-forward"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
